<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        
        <main>
            <h2>TABLA DE TODOS LOS PRODUCTOS</h2>
            <br>
            <p class="avisos">NO SE ENCONTRARON PRODUCTOS</p>
            <br>
            <a href='/'><button> INSERTAR PRODUCTO </button></a>
        </main>
    
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>