<form onsubmit="addProduct(this)">
    <fieldset>
        <legend>INGRESE LOS DATOS DEL PRODUCTO NUEVO:</legend>
        <div>
            <label for="title">NOMBRE </label><input type="text" name="title" id="title" required><br>
            <label for="price">PRECIO </label><input type="number" name="price" id="price" required><br>
            <label for="thumbnail">THUMBNAIL </label><input type="text" name="thumbnail" id="thumbnail" required><br>
            <input type="submit" value="AGREGAR" id="agregar">
        </div>
    </fieldset>
</form>