<form onsubmit="addMessage(this)">
    <label for="email">E-MAIL </label><input type="text" name="email" id="email" required>
    <label for="message">MENSAJE </label><input type="text" name="message" id="message" required>
    <input type="submit" value="ENVIAR" id="boton">
    <br><br>
</form>
<section>
    <ul id="messages"></ul>
</section>
<hr>