<table>
    <tr>
        <th>NOMBRE</th>
        <th>PRECIO</th>
        <th>IMAGEN</th>
    </tr>
    <tbody id="tablaProductos"></tbody>
    <!-- tbody es para decir que vamos a poner un cuerpo de tabla -->
</table>